<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- Adding links via href makes the app to reload to display the component -->
        <!-- <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/servers">Servers</a></li>
        <li role="presentation"><a href="/users">Users</a></li> -->

        <!-- Adding routerLink directive instead of href -->
        <!-- <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="/servers">Servers</a></li> -->
        <!-- <li role="presentation"><a routerLink="/users">Users</a></li> -->

        <!-- Another way of using routerLink is with property binding -->
        <!-- <li role="presentation"><a [routerLink]="['/users']">Users</a></li> -->


        <!-- Checking what happens if we pass routerLinks the paths without leading slash -->

        <!-- Result: Nothing really changes when navigation by entering path manually or by clicking on the links however the real change can be realised if we add a routerLink to another link inside a component: e.g. in servers.component.html -->

        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="servers">Servers</a></li>
        <li role="presentation"><a [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
